.faqsComponent .box-main .faq {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.301);
}

.faqsComponent .box-main .card>div:first-child {
  cursor: pointer;
  transition: all 0.2s linear;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.151);
}

.faqsComponent .box-main .card h5 {
  font-size: 16px;
  opacity: 0.9;
  transition: all 0.3s linear;
}

.faqsComponent .box-main .card h5>span:first-child {
  width: 20px;
  height: 20px;
  text-align: center;
  background-color: rgb(32, 125, 212);
  border-radius: 50%;
  margin-right: 10px;
  color: #fff;
}

.faqsComponent .box-main .card>div:first-child:hover {
  background-color: rgba(238, 63, 63, 0.637);
}

.faqsComponent .box-main .card>div:first-child:hover h5 {
  transform: translateX(10px);
}

.faqsComponent .box-main .card>div:last-child {
  color: rgb(85, 85, 85);
}