.homeComponent>div:first-child>.owl-carousel>div:nth-child(2) {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 0;
  padding: 0 !important;
  margin-top: 0 !important;
}

.homeComponent>div:first-child>.owl-carousel>div:nth-child(2) button {
  font-size: 70px;
  margin: 0 !important;
  padding: 17% 30px !important;
  color: #fff;
  transition: all 0.3s linear;
  display: flex;
  align-items: center;
  justify-content: center;
}

.homeComponent>div:first-child>.owl-carousel>div:nth-child(2) button:hover {
  color: #000;
  background-color: #00000011;
}

.homeComponent>div:first-child>.owl-carousel>div:nth-child(3) {
  position: absolute;
  bottom: 10px;
  width: 100%;
  padding: 0 !important;
  margin-top: 0 !important;
}

.homeComponent>div:last-child .owl-carousel div .owl-item {
  margin: 30px 0;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.418);
  transition: all 0.4s linear;
  opacity: 0.6;
  transform: scale(0.8);
}

.homeComponent>div:last-child .owl-carousel div .owl-item>div .after {
  top: -35px;
  bottom: -10px;
  left: -15%;
  width: 65%;
  background-color: #0000003a;
  transform: rotate(15deg) translateX(-100%);
  transition: all 0.3s linear;
}

.homeComponent>div:last-child .owl-carousel div .owl-item>div .view {
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  background-color: var(--colorHover);
  font-weight: bold;
  color: #ffffff;
  padding: 5px;
  box-shadow: 0 0 6px #000;
  opacity: 0;
  transition: all 0.3s linear;
}

.homeComponent>div:last-child .owl-carousel div .owl-item>div .view:hover {
  background-color: var(--colorHover);
}

.homeComponent>div:last-child .owl-carousel div .center:hover>div .after {
  transform: rotate(15deg) translateX(0);
}

.homeComponent>div:last-child .owl-carousel div .center:hover>div .view {
  opacity: 1;
}

.homeComponent>div:last-child .owl-carousel div .center {
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.733);
  opacity: 1;
  transform: scale(1.1);
}

/* about */
.aboutComponent .nav-pills .nav-link.active, .aboutComponent .nav-pills .show>.nav-link {
  background-color: var(--colorHover) !important;
}

/* details */
/* .detailComponent>.box-main .owl-carousel .owl-nav.disabled {
  display: block !important;
} */

.detailComponent>.box-main .owl-carousel .owl-nav {
  position: absolute;
  top: -50%;
  width: 100%;
  height: 0;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.detailComponent>.box-main .owl-carousel .owl-nav button {
  margin: 0;
  padding: 90% 20px !important;
  display: block;
  font-size: 50px;
  color: #fff;
  transition: all 0.2s linear;
}

.detailComponent>.box-main .owl-carousel .owl-nav button:hover {
  color: #000;
  background-color: #00000009;
}

.detailComponent .nav-pills .nav-link {
  outline: 0;
  border: 0;
  background-color: #fff;
  font-size: 22px;
  color: grey;
  transition: all 0.2s linear;
  border-radius: 0;
}

.detailComponent .nav-pills .nav-link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0px;
  margin: auto;
  height: 2px;
  background-color: var(--colorHover) !important;
  z-index: 1;
  transition: all 0.2s linear;
}

.detailComponent .nav-pills .nav-link:hover {
  color: var(--colorHover);
}

.detailComponent .nav-pills .nav-link:hover::after {
  left: 0;
  right: 0;
  width: 90%;
  color: var(--colorHover);
}

.detailComponent .nav-pills .nav-link.active, .detailComponent .nav-pills .show>.nav-link {
  color: var(--colorHover) !important;
}

.detailComponent .nav-pills .nav-link.active::after, .detailComponent .nav-pills .show .nav-link::after {
  left: 0;
  right: 0;
  width: 90% !important;
  color: var(--colorHover);
}

@media (max-width: 600px) {
  .homeComponent>div:last-child .owl-carousel div .active {
    opacity: 1;
    transform: scale(0.9);
  }

  .homeComponent>div:last-child .owl-carousel div .owl-item>div .view {
    padding: 10px;
  }

  .homeComponent>div:last-child .owl-carousel div .active:hover>div .after {
    transform: rotate(15deg) translateX(0);
  }
  
  .homeComponent>div:last-child .owl-carousel div .active:hover>div .view {
    opacity: 1;
  }
}

