:root {
  --colorHover: rgb(238, 63, 63);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header .toggleHeader {
  position: fixed;
  top: 0;
  opacity: 0;
  box-shadow: 0 0 4px #0000006e;
  animation: animateHeader 0.3s linear forwards;
}

.swal-height {
  height: 90px !important;
}

@keyframes animateHeader {
  from {
    transform: translateY(-100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}